Assign1 

	Accept .. Student details with 5 marks 
	Total 
	Average 
	
	Display total and average along with all student details
	-------------------------------------------------------------------

In [1]:
sid = int(input("Enter the student id: "))
sname = input("Enter a student name: ")
sage = int(input("Enter the student's age: "))
smother_name = input("Enter student's mother name: ")
sfather_name = input("Enter student's father name: ")
seng_mark = float(input("Enter student's english mark: "))
smat_mark = float(input("Enter student's maths mark: "))
ssci_mark = float(input("Enter student's science mark: "))
ssoc_mark = float(input("Enter student's social mark: "))
scs_mark = float(input("Enter student's computer science mark: "))
tot = seng_mark+smat_mark+ssci_mark+ssoc_mark+scs_mark
avg = tot/5
print("ID                   :", sid)
print("Name                 :", sname)
print("Age                  :",sage)
print("Mother's Name        :",smother_name)
print("Father's Name        :",sfather_name)
print("English Mark         :",seng_mark)
print("Maths Mark           :",smat_mark)
print("Science Mark         :",ssci_mark)
print("Social Mark          :",ssoc_mark)
print("Computer Science Mark:",scs_mark)
print("Total                :",tot)
print("Average              :", avg)

Enter the student id: 1
Enter a student name: aaa
Enter the student's age: 12
Enter student's mother name: bbb
Enter student's father name: ccc
Enter student's english mark: 86
Enter student's maths mark: 89
Enter student's science mark: 90
Enter student's social mark: 95
Enter student's computer science mark: 98
ID                   : 1
Name                 : aaa
Age                  : 12
Mother's Name        : bbb
Father's Name        : ccc
English Mark         : 86.0
Maths Mark           : 89.0
Science Mark         : 90.0
Social Mark          : 95.0
Computer Science Mark: 98.0
Total                : 458.0
Average              : 91.6

Assign2

	Accept 3 number from user 
		Calculate 
			Addition
			Subtraction
			Multiplication
			
	---------------------------------------------------------------------

In [2]:
a = int(input("Enter a first number: "))
b = int(input("Enter a second number: "))
c = int(input("Enter a third number: "))
print("Addition: {}".format(a+b+c))
print("Subtraction: {}".format(a-b-c))
print("Multiplication: {}".format(a*b*c))

Enter a first number: 56
Enter a second number: 79
Enter a third number: 97
Addition: 232
Subtraction: -120
Multiplication: 429128

Assign 3

	Accept employee details from user using input function
	Empname
	Empdesg
	Empsal
	Empexp
	
	Calculate 15% hike to emplo

In [3]:
Empname = input("Enter employee name: ")
Empdesg = input("Enter employee's designation: ")
Empsal = float(input("Enter employee's salary: "))
Empexp = int(input("Enter employee's experience: "))
Emphike = 15/100
Empsal_hike = Empsal+(Empsal*Emphike)
print("Employee Name: {}".format(Empname))
print("Employee's Designation: {}".format(Empdesg))
print("Employee's Salary Before Hike: {}".format(Empsal))
print("Employee's Experience: {}".format(Empexp))
print("Employee's Hike Percentage: {}".format(Emphike))
print("Employee's Salary After Hike: {}".format(Empsal_hike))

Enter employee name: xxx
Enter employee's designation: Developer
Enter employee's salary: 20000
Enter employee's experience: 1
Employee Name: xxx
Employee's Designation: Developer
Employee's Salary Before Hike: 20000.0
Employee's Experience: 1
Employee's Hike Percentage: 0.15
Employee's Salary After Hike: 23000.0

Take four digit number from user
	4593
	
	4
	5
	9
	3
	----------------------------
	3 
	9
	5
	4 
	
	Print the total 4+5+9+3

In [4]:
num = input("Enter a four digit number: ")
num1 = num[::-1]
print(num[0], num[1], num[2], num[3], sep="\n")
print("----------------------------")
print(num1[0], num1[1], num1[2], num1[3], sep="\n")
print("Total of {0}+{1}+{2}+{3} = {4}".format(num[0], num[1], num[2], num[3], int(num[0])+int(num[1])+int(num[2])+int(num[3])))

Enter a four digit number: 4593
4
5
9
3
----------------------------
3
9
5
4
Total of 4+5+9+3 = 21

Take a  fruit name from user

Try display individual characters of the fruit name

	ORANGE
	
	O
	R 
	A
	N
	G
  E

In [5]:
s = "ORANGE"
print("Length of a string:",len(s))
print(s[0],s[1],s[2],s[3],s[4],s[5], sep="\n")

Length of a string: 6
O
R
A
N
G
E

Assign 6 

Take Three digit number from user
	In integer format
	324 -- integer format 
	
	 num = int(input("Enter a Three Digit Number : " ))
	
	4
	2
	3
	
And add them

In [7]:
num = int(input("Enter a Three Digit Number : " ))
last_digit = num%10
print(last_digit)
num = num//10
mid_digit = num%10
print(mid_digit)
num = num//10
first_digit = num%10
print(first_digit)
print("Sum of digits: {}".format(first_digit+mid_digit+last_digit))

Enter a Three Digit Number : 423
3
2
4
Sum of digits: 9