In [ ]:
value = "Aishwarya"
lst = list(value)
for i in lst:
  print(i,":",ord(i))

A : 65
i : 105
s : 115
h : 104
w : 119
a : 97
r : 114
y : 121
a : 97

In [ ]:
value = 'iND@IA'
lst = list(value)
for i in lst:
  print(i,":",ord(i))

i : 105
N : 78
D : 68
@ : 64
I : 73
A : 65

In [ ]:
lst = [80, 92, 99, 106, 116]
for i in lst:
  print(i,":",chr(i))

80 : P
92 : \
99 : c
106 : j
116 : t